.btn{
    font-size: 22px;
    height: 50px;
    width: 100px;
    background-color: rgba(0, 255, 255, 0.8);
    border: 2px solid aqua;
    border-radius: 5px;
    color: white;
    margin: 10px 12px;
}

.disabled {
    background-color: darkcyan;
    border: none;
    color: #212121;
}
