.btn{
    font-size: 22px;
    height: 50px;
    width: 100px;
    background-color: #192E58;
    border: 2px solid aqua;
    border-radius: 5px;
    color: white;
    margin: 10px 12px;
}

.disabled {
    background-color: #8fc9c9;
    color: #192E58;
}
