.display {


}

.value {
    display: flex;
    justify-content: space-around;
    margin: 25px auto;
}

.span {
    font-size: 20px;
    color: aqua;
    text-align: left;
}

.input {
    text-align: center;
    width: 100px;
    border: 1px solid aqua;
    border-radius: 3px;
}

.error{
    border: 1px solid red;
    background-color: #e38bb9;
 }